/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import enhanced navbar and sidebar styles */
@import "./navbar.css";
@import "./navbar-mobile.css";
@import "./sidebar.css";

/* Custom color scheme matching the site theme */
:root {
  --ifm-color-primary: #667eea;
  --ifm-color-primary-dark: #4f5fd8;
  --ifm-color-primary-darker: #4556d3;
  --ifm-color-primary-darkest: #3545b1;
  --ifm-color-primary-light: #7d8dfc;
  --ifm-color-primary-lighter: #919ffe;
  --ifm-color-primary-lightest: #b3bcff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(102, 126, 234, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #a8edea;
  --ifm-color-primary-dark: #8de8e3;
  --ifm-color-primary-darker: #7ee5df;
  --ifm-color-primary-darkest: #50dbd3;
  --ifm-color-primary-light: #c3f1f1;
  --ifm-color-primary-lighter: #d2f4f5;
  --ifm-color-primary-lightest: #e8f9f9;
  --docusaurus-highlighted-code-line-bg: rgba(168, 237, 234, 0.1);
}
