.navbarContentWrapper {
  display: contents;
}

.authButtonsContainer {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-right: 8px;
}

@media (max-width: 996px) {
  .authButtonsContainer {
    margin-left: 8px;
    margin-right: 4px;
  }
}

@media (max-width: 640px) {
  .authButtonsContainer {
    margin-left: 4px;
    margin-right: 0;
  }
}
